<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_bikebike._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to place the racetrack in augmented reality and scan QR codes to join multiplayer games.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to discover and connect to nearby players for multiplayer races.</string>
</dict>
</plist>
